
<%- include('partials/header') %>
<main>

    <h1>Game over!</h1>

    <p>Your streak was: <%= lastStreak %></p>

    <h1>Good job! Try again?</h1>
    
    <a href="/quiz">Start a New Quiz</a>
    <a href="/">Home</a>

</main>
</body>
</html>