
<%- include('partials/header') %>
    <main class="main-content index_container">

        <h1>Welcome to the Math Competition App</h1>

        <p>Last streak: <%= lastStreak %></p>
        
        <div class="navigation__container">
            <a href="/leaderboards">
                View Leaderboards
            </a>
            <a href="/quiz">
                Start Quiz
            </a>
        </div>
        
    </main>
</body>
</html>
